.Side_Menu
  .SideHeader
    <a href="/">
    <img src="https://i.gyazo.com/07d347811aeda25880cef85a2857eccc.png" alt="Image from Gyazo" class="SideHeader__btn"/></a>
    .SideHeader__list
      %h3.SideHeader__userName
        = current_user.name
      %ul.SideHeader__iconlist
        %li.SideHeader__leftIcon
          = link_to '/groups/new' do
            = icon('fas', 'edit')
        %li.SideHeader__rightIcon
          = link_to edit_user_path(current_user) do
            = icon('fas', 'cog')
  .TitleList
    - current_user.groups.each do |group|
      .TitleList__group
        = link_to group_messages_path(group) do
          .TitleList__group-name
            = group.name
          .TitleList__group-message
            = group.show_last_message
